body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background: #0b83d9;
    color: white;
    margin: 0;
    padding: 20px;
}

.menu a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.big-img {
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
}

.small-img {
    width: 300px;
    border-radius: 10px;
}

.direction {
    display: inline-block;
    width: 30%;
    margin: 10px;
}
